<div class="container">
  <h1>New Question</h1>
  <%=@errors%>

  <form id="newquestion" method="post" action="/surveys/<%= @survey.id %>/questions">
    <label class="label" for="question">Question</label>
    <input type="text" name="question" value="" >
    <input id="save_new_question"  type="submit" value="Submit">
  </form>

</div>
