

  <form class="form" action="/surveys" method="post">

  <div class="form-group">
    <label for="title">Survey Title:</label>
    <input type="text" class="form-control" name="title" value="">
  </div>


  <button type="submit" class="btn btn-default">Create Wolfy Survey</button>
