<div class="container">
  <h1>Sign In</h1>

  <% if @error %>
    <div class="errors"><%= @error %></div>
  <% end %>

  <form id="sign-in" method="post" action="/signin">
    <label class="label" for="username">Email</label>
    <input type="text" name="user_name" placeholder="jabbadahut" value=""><br>
    <label class="label" for="password_hash">Password</label>
    <input type="password" name="password_hash" placeholder="6 or more characters">
    <br>
    <div class="submit"><input type="submit" value="Sign In"></div>
  </form>

</div>
