<center>
<h3>Welcome to the list_surveys erb!</h3>

<p> we are going to list all your surveys here </p>

<%if @surveys%>
  <%@surveys.each do |survey| %>
    <%=survey.title%>
  <%end%>
<%end%>

<p><a href='/surveys/new'>New Survey</a></p>
</center>
