<center>
<h3>Welcome to Wolf Job Surveys!</h3>



<%if @surveys%>
  <%@surveys.each do |survey| %>
    <%=survey.title%>
  <%end%>
<%end%>

<p><a id='new_survey_link' href='/surveys/new'>New Survey</a></p>

 <form id='invisible_survey_form' class="form" action="/surveys" method="post">
  <div class="form-group">
    <label for="title">Survey Title:</label>
    <input type="text" class="form-control" name="title" value="">
  </div>
  <button type="submit" class="btn btn-default">Create Wolfy Survey</button>
  </form>
</center>
